footer{
	background-color: black;
	height: 220px;
	color: white;
}
h2{
	letter-spacing: 1px;
	padding-top: 75px;
	padding-left:75; 
	padding-right:75px;
	padding-bottom: 16px;
	text-align: center;
}
p{
	padding-bottom: 75px;
	padding-left:75; 
	padding-right:75px;
	text-align: center;

}
