body {
	font-family: Open-Sans;
	margin-top: 100px;
}
h1 {
	font-weight: bold;
	font-size: 28px;
	line-height: 36px;
	text-align: center;
}
p {
	width: 60%;
	margin:auto;
	line-height: 36px;
	padding-top: 16px;
	text-align: center;
}
.container {
	margin-bottom: 125px;
}




